* {
  box-sizing: border-box;
  background-color: #dfe6e9;
}

.col-3{
        padding: 15px;
        background-color: #2c3e50;
        height: 100vh;
        max-width:300px;
}

.col-12{
        background-color: #2f3640;
        height: 60px;
}


img {
  width: 100%;
  height: auto;
  justify-items: center;
}


.row:after {
  content: "";
  clear: both;
  display: table;
}


[class*="col-"] {
  float: left;
  width: 100%;
}


@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

html {
  font-family: "Lucida Sans", sans-serif;
}


.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top:25px;
}

.menu li {
  padding: 15px;
  margin-bottom: 0px;
  background-color :#2c3e50;
  color: #ffffff;
}

.menu li:hover {
  background-color: #0099cc;
}

.header p{
        color:#ffffff;
        background-color:#2f3640;
        font-size:25px;
        margin-left:25px;
}

.location h1{
        margin-left:20px;
}

.dateform{
        margin-left:15px;
        padding:15px;
}


.dateform label{
        margin-bottom:20px;
}

.dateform input{
        padding:8px;
}

.location-image{
        margin-left: 20px;
}

.submit-btn:hover{
         background-color: #aaaaaa;
}

